<!DOCTYPE html>
<html>
<head>
    <title>Unique Fruits</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1>Unique Fruits in Basket A</h1>
    <table>
        <tr>
            <th>Fruit</th>
        </tr>
        {% for fruit in basket_a_fruits %}
        <tr>
            <td>{{ fruit }}</td>
        </tr>
        {% endfor %}
    </table>

    <h1>Unique Fruits in Basket B</h1>
    <table>
        <tr>
            <th>Fruit</th>
        </tr>
        {% for fruit in basket_b_fruits %}
        <tr>
            <td>{{ fruit }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
